html, body{
    margin: 0;
}

.jumbotron{
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.containerBig{
    position: relative;
    text-align: center;
    padding: 5px;
    padding-top: 150px; 
}

.container{
    position: relative;
    text-align: center;
    padding: 10px;
}

.formcontrol{
    padding: 7px;
}

.btn{
    padding: 10px 15px;
}

.input{
    margin: 5px;
    padding: 5px;
    width: 260px;
    height: 20px;
}