.jumbotron{
    background: linear-gradient(141deg, #20A3B8 0%, #1FC8F4 51%, #1498FF 115%);
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn{
    margin-top: 7px; 
    background: #1FB4FE;
    border-color: #1FB4FE;
    color: white;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
}

.btn-secundary{
    background: white;
    border-color: #1FB4FE;
    color: #1FB4FE;
}

.input{
    border-color: lightgray;
    border-width: 1px;
}

.label{
    margin: 3px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footer{
    padding-top: 100%;
}
