<body ng-controller="TReturnerConsum">
    <div class="container col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 form-group">
        <form name="base">
            <div class="form-group text-center">
                <label>Digite o número do T que deseja verificar</label>
            </div>
            <div class="form-group pull-center">
                <input type="number" ng-model="id" class="form-control" required>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="consultarPorId()" ng-disabled="base.$invalid">Consultar</button>
                <button type="button" class="btn btn-secundary" ng-click="limpar()" ng-disabled="base.$invalid">Limpar</button>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-4 col-xs-3 col-xs-offset-3">
        <form ng-show="recebeTs.Ttype != null">
            <div class="form-group text-center">
                <label>Tipo</label>
                <input type="text" ng-model="recebeTs.Ttype" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-md-2 col-xs-3">
        <form ng-show="recebeTs.Ttype != null">
            <div class="form-group text-center">
                <label>Descrição</label>
                <input type="text" ng-model="recebeTs.Ttext" class="form-control">
            </div>
        </form>
    </div>
</body>