<body>
    <div class="containerBig">
        <form name="base">
            <div>
                <label class="label">Digite o número do T que deseja verificar</label>
            </div>
            <div>
                <input class="input" type="number" ng-model="treturnerConsum.id">
            </div>
            <div>
                <button type="button" 
                        class="btn" 
                        ng-click="treturnerConsum.consultarPorId(treturnerConsum.id)" 
                        ng-disabled="base.$invalid">Consultar</button>

                <button type="button" 
                        class="btn btn-secundary" 
                        ng-click="treturnerConsum.limpar()" 
                        ng-disabled="base.$invalid">Limpar</button>
            </div>
        </form>
    </div>
<div class="container">
        <form ng-show="treturnerConsum.recebeTs.Ttype != null">
            <div>
                <label>Tipo</label>
            </div>
            <div>
                <input class="input" type="text" ng-model="treturnerConsum.recebeTs.Ttype">
            </div>
        </form>
    </div>
    <div class="container">
        <form ng-show="treturnerConsum.recebeTs.Ttype != null">
            <div>
                <label>Descrição</label>
            </div>
            <div>
                <input class="input" type="text" ng-model="treturnerConsum.recebeTs.Ttext">
            </div>
        </form>
    </div>

    <div ng-show="treturnerConsum.recebeTs.estaValido()">
        <p>Valido!</p>    
    </div>

    <div ng-show="treturnerConsum.recebeTs.typePreenchido()">
        <p>Type Preenchido!</p>    
    </div>

    <div ng-show="treturnerConsum.recebeTs.textPreenchido()">
        <p>Text Preenchido!</p>    
    </div>
</div>
</body>